@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center" style="font-weight:600"> Order Placed Successfully!</h1>
        Your Order Number is: @Model <br /><br />
    </div>
    <div class="col-12 text-center">
        <img src="~/images/successImg.png" height="350px"/>
    </div>
    <div class="col-12 text-center" style="color:maroon; font-size:larger; font-weight:500; margin-top:10px;">
        Your Order has been placed successsfully!
    </div>
</div>